
{% if blog_post %}
<div class="container">
	<div class="row poppins">
		
		<!-- Blog Post -->
		<div class="card m-auto largo_card">
			<a href="{% url 'blog:detail' post.slug %}">
				<img class="card-img-top redondeo-imagen" src="{{blog_post.image.url}}">
			</a>
			
			<div class="card-body mt-2 mb-2 padding_card_body">
				<a class="decoraciones"href="{% url 'blog:detail' post.slug %}">
					<h2 class="card-title lightblue">{{blog_post.title}}</h2>
				</a>
				<p class="card-text">{{blog_post.body|truncatechars:250}}<a class="lightblue"href="{% url 'blog:detail' post.slug %}">Ver más.</a></p>
				<br>
				{% if blog_post.author == request.user %}
					<a href="{% url 'blog:edit' blog_post.slug %}" class="btn btn-primary plomo color_borde_negro">Editar</a>
				{% endif %}
			</div>
			<div class="card-footer text-muted">
			  Actualizado el {{blog_post.date_updated}} por {{blog_post.author}}
			</div>
		</div>
	</div>
</div>
{% else %}
	<div class="container">
		<div class="row">
			<div class="card m-auto largo_card">
				<div class="card-body mt-2 mb-2 padding_card_body">
					<h2>Sin Resultados.</h2>
					<p>No se han encontrado resultados para: "{{query}}".</p>
				</div>
			</div>
		</div>
	</div>
{% endif %}