{% extends "blog/base/base.html" %}

{% block contenido %}
{% load static %}
<div class="main_contenededor black" style="background-image: url({% static '/img/background6.jpg'%});">
	<br><br><br><br><br><br><br><br><br><br>
	<div class="container">

		<div class="textwhite">
			  <p class="poppins aligncenter">
			    Te hemos enviado instrucciones para restablecer la contraseña, si la cuenta existe, deberías recibir las instrucciones en poco tiempo.
			  </p>
			  <p class="poppins aligncenter">
			    Si no has recibido el correo electrónico, por favor asegurate que has colocado el correo con el cual te hayas registrado, en todo caso, verifica tu correo de spam.
			  </p>
			  <p class="poppins aligncenter"><a class="textwhite" href="{% url '' %}">Volver a página principal.</a></p>
		</div>
	</div>
</div>
{% endblock contenido%}