{% extends "blog/base/base.html" %}

{% block contenido %}
{% load static %}
<div class="main_contenededor black" style="background-image: url({% static '/img/background6.jpg'%});">
<br><br><br><br><br><br><br><br><br><br>
<form method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal poppins textwhite tamfuente">Restablecer Contraseña</h1>
    <input name="old_password" class="form-control" placeholder="Antigua Contraseña" type="password" id="id_old_password" required="true">
    <input name="new_password1" class="form-control" placeholder="Nueva Contraseña" type="password" id="id_new_password1" required="true">
    <input name="new_password2" class="form-control" placeholder="Confirmar Contraseña" type="password" id="id_new_password2" required="true">

    {% for field in form %}
      {% for error in field.errors %}
        <p class="poppins color_rojo">{{ error }}</p>
      {% endfor %}
    {% endfor %}

  <button class="btn btn-lg btn-primary btn-block plomo color_borde_negro" type="submit">Cambiar</button>
  <br>
  <a class="decoraciones textwhite" href="{% url 'account' %}"><button class="btn btn-lg btn-primary btn-block plomo color_borde_negro" type="button">Cancelar</button></a>    
</form>
</div>


{% endblock contenido %}