{% extends "blog/base/base.html" %}
{% block contenido %}
{% load static %}
<div class="main_contenededor black monserrat aligncenter" id="historia_page" style="background-image: url({% static '/img/background6.jpg'%});">
	<br><br><br><br><br><br><br><br><br><br>
	<h1 class="lightblue">Nuestra Historia.<br></h1>
	<p class="textwhite ">
		A'illnovo es una empresa chilena, que comenzó sus operaciones en septiembre del año 1996, transformándose durante este tiempo, en la mayor cadena de tiendas especialista en tecnología del país. En sus inicios, el foco estuvo en el rubro de los computadores de escritorio, partes y piezas, componentes y accesorios de computación. Con el pasar de los años fue incorporando nuevas categorías a su mix, con el fin de acercar la tecnología a los clientes; tanto personas como pequeñas y medianas empresas. Su amplio mix incluye, además del mundo de computación, la telefonía, impresión, fotografía, audio, seguridad, domótica, entretención como juegos, consolas y televisores.
	</p>
	<br><br>
	<h1 class="lightblue">Visión:</h1>
	<p class="textwhite">Ser la primera preferencia de compra en tecnología.</p>
	<br><br>
	<h1 class="lightblue">Misión:</h1>
	<p class="textwhite">Liderar indiscutidamente el mercado de artículos tecnológicos en Chile, otorgando el mayor grado de satisfacción a los clientes a través de una asesoría especializada y cercana, ofreciendo la más amplia variedad de productos y los precios más atractivos.</p>
	<br><br>
	<h1 class="lightblue">CRECIMIENTO Y PERFECCIONAMIENTO</h1>
	<p class="textwhite">A'illnovo ha tenido un crecimiento constante por sobre el mercado de tecnología desde sus inicios. A la fecha, año 2020, cuenta con 3 tiendas y con más de 150 colaboradores.</p>
	<br><br>
	<h1 class="lightblue">FABRICANTES Y ESPECIALISTAS</h1>
	<p class="textwhite">A'illnovo cuenta con una fábrica de computadores de escritorios ubicada en la Región Metropolitana. En este lugar se desarrollan modelos que cuentan con lo último en tecnología y componentes de primer nivel.</p>
	<br><br>
	<h1 class="lightblue">VENTAS A TRAVÉS DE INTERNET</h1>
	<p class="textwhite">A'illnovo fue pionero en la venta a través de internet. Gracias a un importante desarrollo de sistemas de seguridad y control de e-commerce, la compra por Internet en nuestro portal es fácil, rápida, segura y económica para los clientes.</p>
	<br><br>
	<h1 class="lightblue">MÁS CERCA DE LOS CLIENTES</h1>
	<p class="textwhite">A'illnovo se comunica con sus clientes a través de varios canales. Su sitio web es visitado por 2.500.000 de usuarios mensuales y se ha transformado en una fuente de consulta permanente para todos aquellos que conocen o quieren aprender de tecnología. Además, A'illnovo participa en forma activa en redes sociales, con gran cantidad de seguidores.</p>
	<br><br>
	<h1 class="lightblue">COMPROMISO AL SERVICIO AL CLIENTE</h1>
	<p class="textwhite">A'illnovo tiene el firme compromiso de entregar productos y servicios de alta calidad. Es muy importante para la empresa mejorar cada día según las necesidades de sus clientes.
		<br><br>
		Si usted tiene alguna sugerencia para hacer llegar directamente a la gerencia de A'illnovo, puede escribir al e-mail contacto@aillnovo.cl, donde diferentes gerentes de distintas áreas analizarán sus comentarios.
		<br><br>
		¡Bienvenidos al mundo A'illnovo! Tu Partner Tecnológico.</p>
	<br><br>


</div>
{% endblock contenido %}